/.idea/codeStyles/codeStyleConfig.xml
/.idea/minesweeper-API.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/sonarlint/
